#define VS_VERSION_INFO 1
#define ICON_PHONE_IMAGE 100

ICON_PHONE_IMAGE ICON "phone.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3FL
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
 BEGIN
 BLOCK "StringFileInfo"
  BEGIN
  BLOCK "080404b0"
   BEGIN
    VALUE "CompanyName", "ShanYe\0"
    VALUE "FileVersion", "1.0.0.0\0"
    VALUE "FileDescription", "Interface Thunk for Projection My Screen (Windows Phone 8.1)\0"
    VALUE "InternalName", "WP81ProjectionClient\0"
    VALUE "LegalCopyright", "GUN GPL\0"
    VALUE "OriginalFilename", "WP81ProjectionClient.dll\0"
    VALUE "ProductName", "WP81ProjectionClient\0"
    VALUE "ProductVersion", "1.0.0.0\0"
   END
  END
  BLOCK "VarFileInfo"
  BEGIN
   VALUE "Translation", 2052, 1200
  END
 END